<div class="movie-card">
  <div>
    <img src="<%= movie.poster_url %>" alt="Poster of <%= movie.title %>">
    <h2>
      <%= movie.title %>  <%= movie.rating %>
    </h2>
    <p>
      <%= movie.overview %>
    </p>
  </div>

  <div class="d-flex flex-row justify-content-end">
    <%= button_to "Remove from list", bookmark_path(bookmark), method: :delete %>
  </div>

</div>
